<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="adminLayout">
<head>

<title>Product Listesi</title>
</head>
<body>
	<div layout:fragment="content">

		<div class="w-50 container">
			<h1 class="mt-4">Ürün Güncelle</h1>
			<form class="mt-3" th:action="@{/admin/saveProduct}"
				th:object="${product}" method="POST">
				<input type="hidden" th:field="*{id}" />
				<div class="form-group">
					<label for="exampleInputEmail1">Ürün Adı</label> <input type="text"
						class="form-control" placeholder="Ürün Adını Giriniz"
						th:field="*{name}">
				</div>
				<br>
				<div class="form-group">
					<label for="exampleInputEmail1">Ürün Fiyatı(₺)</label> <input
						type="text" class="form-control"
						placeholder="Ürün Fiyatını Giriniz" th:field="*{price}">
				</div>
				<br>
				<div class="form-group">
					<label for="exampleInputEmail1">Ürün Stoğu</label> <input
						type="text" class="form-control"
						placeholder="Ürün Stoğunu Giriniz" th:field="*{stock}">
				</div>
				<br>
				<button type="submit" class="btn btn-primary">Güncelle</button>
			</form>
		</div>
	</div>
</body>
</html>